/* Style de base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: 'Courier New', Courier, monospace;
  background-color: #121212;
  color: #00FF00;
  overflow: hidden;
  font-size: 18px;
  text-shadow: 0 0 10px rgba(0, 255, 0, 0.8);
}

/* Arrière-plan binaire défilant */
.binary-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #00FF00;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  z-index: -1;
  animation: scrollBinary 10s linear infinite;
}

@keyframes scrollBinary {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

/* Animation du texte binaire */
.binary-background::before {
  content: '010101010010101010100110010101010101010101001010101010101010101010100101010101010101010101010101010101010101010101010101010101010101010101010101010101010101';
  animation: scrollBinary 10s linear infinite;
}

/* Contenu */
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  color: #fff;
  animation: fadeIn 2s ease-in-out;
}

h1 {
  font-size: 3em;
  margin-bottom: 30px;
  color: #00FF00;
  text-shadow: 0 0 15px rgba(0, 255, 0, 0.8);
  animation: glitch 1s infinite linear alternate-reverse;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  font-size: 1.2em;
  margin: 10px 0;
  color: #00FF00;
  opacity: 0;
  animation: fadeInList 1s forwards;
}

/* Animation de l'effet glitch */
@keyframes glitch {
  0% {
    transform: translate(0);
    text-shadow: 0 0 5px #00FF00, 0 0 10px #00FF00, 0 0 15px #00FF00;
  }
  25% {
    transform: translate(-2px, 1px);
    text-shadow: 0 0 5px #00FF00, 0 0 10px #00FF00, 0 0 15px #00FF00;
  }
  50% {
    transform: translate(2px, -1px);
    text-shadow: 0 0 5px #00FF00, 0 0 10px #00FF00, 0 0 15px #00FF00;
  }
  75% {
    transform: translate(-2px, 1px);
    text-shadow: 0 0 5px #00FF00, 0 0 10px #00FF00, 0 0 15px #00FF00;
  }
  100% {
    transform: translate(2px, -1px);
    text-shadow: 0 0 5px #00FF00, 0 0 10px #00FF00, 0 0 15px #00FF00;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInList {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
    }
