* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.binary-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  color: green;
  font-family:  Courier New , Courier, monospace;
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  z-index: -1;
  animation: scrollBinary 10s linear infinite;
}

@keyframes scrollBinary {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.binary-background::before {
  content:  1010100101101010101001100101010101010101010010101010101010101010101001010101010101010101010101010101010101010101010101010101010101010101010101010101010101 ;
  animation: scrollBinary 10s linear infinite;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 1;
}

h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

ul {
  list-style: none;
}

li {
  font-size: 1.5em;
  margin: 5px 0;
}
