* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: 'Orbitron', sans-serif;
  overflow: hidden;
  background-color: #121212;
}

.binary-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #00FF00;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  z-index: -1; /* S'assure que le fond reste derrière le contenu */
  animation: scrollBinary 10s linear infinite;
}

@keyframes scrollBinary {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.binary-background::before {
  content: '1010100101101010101001100101010101010101010010101010101010101010101001010101010101010101010101010101010101010101010101010101010101010101010101010101010101';
  animation: scrollBinary 10s linear infinite;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  z-index: 1; /* Assure que le contenu est au-dessus du fond binaire */
  animation: fadeIn 2s ease-in-out;
}

h1 {
  font-size: 4em;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #00FF00;
  text-shadow: 0 0 15px #00FF00;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  font-size: 1.5em;
  margin: 10px 0;
  color: #ffffff;
  opacity: 0;
  animation: fadeInList 1s forwards;
}

li:nth-child(1) {
  animation-delay: 1s;
}

li:nth-child(2) {
  animation-delay: 1.2s;
}

li:nth-child(3) {
  animation-delay: 1.4s;
}

li:nth-child(4) {
  animation-delay: 1.6s;
}

li:nth-child(5) {
  animation-delay: 1.8s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInList {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
